<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="InheritDoc" version="1.1.0.1" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
</packages>